body {
    background-color: #212529;
}

.navbar {
    background-color: #171a1d;
}

.navbar--logo {
    padding: 5px;
}

.navbar--icon {
    width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 10px;
}

.start {
    margin-top: 15vh;
    margin-bottom: 25px;
    color: var(--bs-light);
}

a {
    color: #7f8286
}

.start--description {
    width: 50vw;
    font-weight: semi-bold;
    font-size: 1.5rem;
}

/* Large screens only:

.start--description {
    min-width: 521px;
}

*/