body {
    background-color: #212529;
    color: var(--bs-light);
}

/* -=NAVBAR=- */
.navbar {
    background-color: #171a1d;
}

.navbar--logo {
    padding: 5px;
}

.navbar--icon {
    width: 16px;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 10px;
}

/* -=START PAGE=- */
.start {
    margin-top: 15vh;
    margin-bottom: 25px;
}

a {
    color: #7f8286
}

.start--description {
    width: 50vw;
    font-weight: semi-bold;
    font-size: 1.5rem;
}

.start--button {
    margin-bottom: 5vh;
}

/* -=QUIZ PAGE=- */

/* -Question- */
.question-container {
    background-color: #171a1d;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    border-radius: 25px;
    box-shadow: 0px 5px 5px #121416;
    display: inline-block;
}

.question {
    width: 75%;
    margin-top: 8vh;
    text-align: center;
}

/* -Answers- */
.answers-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.answer-label {
    padding: 0 5px 0 5px
}

/* -Submit Button- */
.submit--container {
    margin: auto;
}

.submit-button {
    margin-bottom: 5vh;
    min-width: 150px;
}

/* -=FINAL SCORE PAGE=- */

.final-score-container {
    text-align: center;
    padding: 50px;
    background-color: #171a1d;
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    border-radius: 25px;
    box-shadow: 0px 5px 5px #121416;
}

/* -=CONDITIONAL STYLING=- */

.correct-styling {
    background: rgba(50, 159, 91, 1);
    border-radius: 3px;
    padding: 0 5px 0 5px;
}


.incorrect-styling {
    background-color: rgba(231, 29, 54, 1);
    border-radius: 3px;
    padding: 0 5px 0 5px;
}


/* Large screens only:

.start--description {
    min-width: 521px;
}

*/